@import url(../resources/__logo-zone/resources__logo-zone.css);
@import url(../resources/__logo/resources__logo.css);
@import url(../resources/__logo/_arzamas/resources__logo_arzamas.css);
@import url(../resources/__logo/_nplus/resources__logo_nplus.css);
@import url(../resources/__logo/_polka/resources__logo_polka.css);
@import url(../resources/__logo/_strelka/resources__logo_strelka.css);



.resources {
  padding-top: 100px;
  position: relative;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
}
